.footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.95rem;
    color: var(--dark-text);

    span {
        display: inline-block;
        padding-bottom: 0.5rem;
    }
}