@import '../../styles/mixins.scss';

.posts_section {
    width: 100%;
    padding: 1rem 0;
    margin-left: 2.3rem;

    @media(max-width: 900px) {
        padding: 0;
    }
}

.posts_section__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 2em;
}

.posts_section__title {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--dark-text);
}

.post_section__add {
    @include sec-accent-btn;
    font-size: 1.2rem;

    @media(max-width: 426px) {
        padding: 0.3em 0.6em;
    }
}