@import '../../styles/mixins.scss';

.preview {
   @include content-block;
   
    ul, li {
        margin-left: 1.5rem;
    }
}

.preview__title {
    font-size: 1.5rem;
    color: var(--bright-text);
    font-weight: 500;
    margin-bottom: 1.5em;
}

.preview__excerpt {
    margin-bottom: 2em;
}

.preview__readmore {
    display: block;
    margin-left: auto;
    margin-bottom: 2rem;
    padding: 0.5em;
    font-size: 1.1rem;
    color: var(--accent-second-contrast);

    &::after {
        font-size: 2em;
        vertical-align: middle;
        margin-left: 0.2em;
    }

    &:hover, &:focus{
        text-shadow: 0 0 0.6em var(--accent-second);
    }

    @media(max-width: 426px) {
        margin-bottom: 0.7rem;
    }
}

