@import '../../styles/mixins.scss';

.header {
    min-height: 12rem;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--bright-text);

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    &__name {
        margin: 0.7rem;
        font-size: 3.2rem;
        font-weight: 500;
        color: var(--bright-text);
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    &__greeting {
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
        font-weight: 500;
        color: var(--bright-text);
        border: 2px solid var(--accent-first);
        border-radius: 0.3rem;
    }

    &__user {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    @media(max-width: 750px) {
        min-height: 10rem;
        padding-top: 0.8rem;
        padding-bottom: 2rem;

        &__logo {
            padding: 0;
        }

        &__name {
            font-size: 3rem;
        }

        &__user {
            flex-direction: column-reverse;
            gap: 1rem;
        }
    }

    @media(max-width: 430px) {
        min-height: 7rem;
        padding-top: 0.3rem;
        padding-bottom: 0.8rem;

        &__container {
            flex-direction: column;
        }

        &__name {
            font-size: 2.5rem;
        }

        &__user {
            gap: 0.6rem;
        }

        &__greeting {
            padding: 0.3rem 0.8rem;
        }
    }
}

.logo {
    width: 5rem;
    height: 5em;
    fill: var(--accent-first);
    transition: transform 600ms;

    &:hover {
        transform: rotate(180deg);
    }

    @media(max-width: 430px) {
        display: none;
    }
}

.login_link {
    @include first-accent-btn;
    font-size: 1.7em;
}

.logout_btn {
    @include sec-accent-btn;
    font-size: 1.7em;
}