@import '../../styles/mixins.scss';

.login {
    @include content-block;
    max-width: 450px;
    margin: 0 auto;
}

.options {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0.3rem;
    background-color: var(--content-bg-light);

    .options__signin,.options__signup{
        display: inline-block;
        padding: 1rem;
        font-size: 1.6rem;
        font-weight: 500;
        color: var(--dark-text);
    }

    .options__signin.active {
        color: var(--accent-second-contrast);
        &::after {
            content: '';
            margin-top: 0.2rem;
            display: block;
            height: 0.1rem;
            width: 6.5rem;
            background-color: var(--accent-second-contrast);
        }
    }

    .options__signup.active {
        color: var(--accent-first);
        &::after {
            content: '';
            margin-top: 0.2rem;
            display: block;
            height: 0.1rem;
            width: 6.5rem;
            background-color: var(--accent-first);
        }
    }
}
