@import '../../styles/mixins.scss';

.sidebar{
    flex-shrink: 0;
    
    @media(max-width: 750px) {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        transform: translate(-96%);
    }

    @media(max-width: 426px) {
        width: 100%;
    }

    &_open {
        @media(max-width: 750px) {
            transform: translate(0);
        }
    }
}

.filter { 
    @include content-block;
    height: 100%;
    padding: 1rem 1.3rem;
    transition: transform 0.3s ease-in-out;

    li {
        list-style: none;
        padding: 0.3rem 0;
    }

    @media(max-width: 750px) {
        text-align: center;
        padding-top: 5rem;
    }
}

.filter__btn {
    font-size: 1.3rem;
    color: var(--bright-text);
    padding-right: 0;
    padding-left: 0;

    &_active {
        text-shadow: 0 0 0.6rem var(--accent-second);
        text-decoration: underline;
    }

    &:hover, &:focus {
        text-decoration: underline;
    }
}

